/* CSS style for theam-1 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.main-div {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(75, 75, 75, 1);
}

.menu-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    padding-top: 15%;
    padding-bottom: 15%;
}

.menu-div > div {
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: rgba(125, 125, 125, 0.5);
    box-shadow: 0 5px 30px -10px rgba(255, 255, 255, 0.1);
    transition: all 0.2s linear;
}

.menu-div > div:hover {
    box-shadow: 0 5px 30px -10px rgba(255, 255, 255, 0.9);
}

.input-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.name-input-set {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.name-input-set > label {
    font-family: "Roboto", serif;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.name-input-set > input {
    font-family: "Roboto", serif;
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 16px;
    outline: none;
    border-radius: 10px;
}

.name-input-set > input:focus {
    outline: black;
    border: solid black 2px;
    box-shadow: 0 0 10px white;
} 

.name-input-set button {
    padding: 10px 20px;
    font-family: "Roboto", serif;
    font-size: 1.25rem;
    font-weight: 500;
}

.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 500px;
    height: 500px;
    gap: 20px;
    padding: 20px;
}

.game-cell {
    background-color: rgba(200, 200, 200, 1);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: all 0.1s linear;
}

.game-cell[data-hover='true']:hover {
    box-shadow: inset 10px 10px 20px black,  inset -10px -10px 20px black;
}

.x-symbol {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.x-symbol::before {
    width: 100%;
    height: 20%;
    content: '';
    position: absolute;
    background-color: rgba(75, 75, 75, 1);
    transform: translate(0%, 200%) rotate(45deg);
    border-radius: 20px;
}

.x-symbol::after {
    width: 100%;
    height: 20%;
    content: '';
    position: absolute;
    background-color: rgba(75, 75, 75, 1);
    transform: translate(0%, 200%) rotate(-45deg);
    border-radius: 20px;
}

.o-symbol {
    width: 100%;
    height: 100%;
    content: '';
    position: relative;
}

.o-symbol::before {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(75, 75, 75, 1);
    content: '';
    top: 0;
    left: 0;
    transform: translate(5%, 5%);
}

.o-symbol::after {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(200, 200, 200, 1);
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-display {
    display: none;
    width: 100%;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: rgba(200, 200, 200, 1);
    font-family: "Roboto", serif;
    font-weight: 900;
    font-size: 1.25rem;
    background-color: rgba(50, 50, 50, 1);
}

#top-display {
    box-shadow: 0px -15px 30px 5px rgba(255, 255, 255, 1);
    z-index: 5;
    /* border: solid 5px black; */
}

#bottom-display {
    box-shadow: 0px 15px 30px 5px rgba(255, 255, 255, 1);
    z-index: 5;
}

.info-score-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-symbol {
    display: block;
    width: 40px;
    height: 40px;
}

.popup-msg-div {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.5);
    position: absolute;
    backdrop-filter: blur(5px);
}

.msg {
    width: 80%;
    height: 200px;
    background-color: rgba(200, 200, 200, 1);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.3);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-msg {
    display: none;
}

.info-msg {
    display: none;
}

.pause-msg {
    display: none;
}

.win-msg {
    display: none;
}

.win-msg .popup-header {
    text-shadow: -1px -1px 0 rgb(0, 100, 0), 1px -1px 0 rgb(0, 100, 0), -1px 1px 0 rgb(0, 100, 0), 1px 1px 0 rgb(0, 100, 0);
    color: rgb(50, 236, 50);
}

.lose-msg {
    display: none;
}

.lose-msg .popup-header {
    text-shadow: -1px -1px 0 rgb(50, 50, 50), 1px -1px 0 rgb(50, 50, 50), -1px 1px 0 rgb(50, 50, 50), 1px 1px 0 rgb(50, 50, 50);
    color: rgb(149, 149, 149);
}  

.btn-div {
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.btn-div div{
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: solid rgba(20, 20, 20, 1) 2px;
    background-color: rgba(20, 20, 20, 1);
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.5);
    transition: all 0.3s ease-out;
}

.btn-div div:hover {
    transform: translateY(-3px);
}


.btn-div div:active {
    transform: translateY(3px);
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.5);
}

.btn-div div svg {
    color: rgba(200, 200, 200, 1);
}

.popup-header {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 2.5rem;
    transform: translateY(-20px);
}

.error-msg .popup-header {
    text-shadow: -1px -1px 0 rgb(100, 0, 0), 1px -1px 0 rgb(100, 0, 0), -1px 1px 0 rgb(100, 0, 0), 1px 1px 0 rgb(100, 0, 0);
    color: rgb(236, 50, 50);
}

.popup-content {
    font-family: "Roboto Slab", serif;
    transform: translateY(-20px);
}
/* Media Queries */

@media screen {
    
}